  .container{
      display:grid;
      width:80vw;
      margin: auto;
      grid-template-columns:50% 50%;
      grid-template-rows:45vh 45vh;
      grid-template-areas: 
      "top top"
      "bottomLeft bottomRight"
      "newItem newItem1"
      "footer footer";
      border: 2px solid lightgoldenrodyellow;
/*      justify-content: center;*/
       border-radius: 10px;

  }
  .box{
    display: flex;
/*    align-items: center;*/
/*    justify-content:center;*/
    border: 3px solid blue;
    margin: 5px;
    border-radius: 3px;
    }
  


  #nestedGrid{
    display: grid;
    grid-template-rows: 50% 50%;
    border:3px solid purple;
    text-align: left;
    vertical-align: top;
  }


  .blogTitle{

       text-align: right;
       vertical-align: top;
  }

  .blogPost{
       text-align: right;
       vertical-align: top;
  }

  #nestedGrid1{
    display: grid;
    grid-template-rows: 50% 50%;
    border:3px solid green;
    text-align: left;
    vertical-align: top;
  }


  #one{
    grid-area: top;
    justify-content: center;
    align-items: center;
  }

  #two{
    grid-area: bottomLeft;
    background-image: url(stars.jpg);
    background-size: contain;
    background-repeat: repeat-y;
  }

  #three{
    grid-area: bottomRight;
    background-color: lightblue;

  }

  #four{
    justify-content: center;
    align-items: center;
    grid-area:footer;
  }

   #five{
    grid-area:missedItem;
  }

  #six{
/*    display: none !important;*/
    grid-area:newItem;
  }

  #seven{
      grid-area: newItem1;
  }
  
  #eight{
    display: none;
    grid-area: newItem2;
  }

 

 


@media(min-width:900px) {

    .container{
      display:grid;
      width:80vw;
      margin: auto;
      grid-template-columns:33.3% 33.3% 33.3%;
      grid-template-rows:45vh 45vh;
      grid-template-areas: 
      "top top top"
      "bottomLeft bottomRight bottomRight"
      "newItem newItem1 newItem2"
      "footer footer footer";
      border: 2px solid lightgoldenrodyellow;
/*      justify-content: center;*/
       border-radius: 10px;

  }
  .box{
    display: flex;
/*    align-items: center;*/
/*    justify-content:center;*/
    border: 3px solid blue;
    margin: 15px;
    border-radius: 10px;
    }
  


  #nestedGrid{
    display: grid;
    grid-template-rows: 50% 50%;
    border:3px solid purple;
    text-align: left;
    vertical-align: top;
  }




  .blogTitle{
       text-align: left;
       vertical-align: top;
  }
   .blogPost{
       text-align: left;
       vertical-align: top;
  }



/*#nestedGrid > div {
  background: lightgreen;
  padding: 8px;
}*/




  #one{
    grid-area: top;
    justify-content: center;
    align-items: center;
  }

  #two{
    grid-area: bottomLeft;
    background-image: url(stars.jpg);
    background-size: contain;
    background-repeat: repeat-y;
  }

  #three{
    grid-area: bottomRight;
    background-color: lightblue;

  }

  #four{
    justify-content: center;
    align-items: center;
    grid-area:footer;
  }

   #five{
    grid-area:missedItem;
  }

   #six{
    
    grid-area:newItem;
  }

   #seven{
      grid-area: newItem1;
  }
  
  #eight{
    grid-area: newItem2;
/*    display: none;*/
  }


  }

 

